# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches-ignore:  [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
          python-version: [3.5, 3.6, 3.7, 3.8]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup VirtualEnv
        run: |
          pip install virtualenv
          python -m virtualenv venv
          . venv/bin/activate
          pip install --no-cache-dir -r requirements.txt

      - name: Run migrations
        run: |
          . venv/bin/activate
          python manage.py check
          python manage.py makemigrations
          python manage.py migrate

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Build and push Docker image
        env:
          TAG: latest
          IMAGE_NAME: asts
          DOCKER_USER: sugarpowder
          DOCKER_PASS: sugar1234
        run: |
          . venv/bin/activate
          docker build -t $IMAGE_NAME .
          docker login -u $DOCKER_USER -p $DOCKER_PASS
          docker tag $IMAGE_NAME $DOCKER_USER/$IMAGE_NAME:$TAG
          docker push $DOCKER_USER/$IMAGE_NAME
